h1.nf404 {
    font-size: 70px;
    text-align: center;
    line-height: 2px;
}

h2.nf404 {
    font-size: 30px;
    text-align: center;
}

p.nf404 {
    text-align: center;
    line-height: 0px;
}

button.nf404 {
    text-align: center;
    display: block;
    margin: auto;
    margin-bottom: 20px;
    color: black;
    font-size: 20px;
    border: none;
    border-radius: 20px;
    padding: 10px;
    background-color: grey;
}