@import "../../../globals.scss";

.rotate {
  animation: rotation 8s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.Banner {
  @keyframes fade {
    from {background-color:#ed61a4;}
    to {background-color: #618f63;}
  }

  padding: 0.75rem;
  width: 100%;
  display: flex;
  align-items: center;
  height: 3rem;
  gap: 2rem;

  img {
    height: 3rem;
  }

  &__seperator {
    height: 100%;
    opacity: 0.3;
    background-color: white;
    width: 0.13rem;
  }

  &__title {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    color: white;
    font-size: 1.6rem;
  }

  background-color: #ed61a4;
  animation-name: fade;
  animation-duration: 5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
