@import "../../globals.scss";

.Timetable {
  font-size: 0.8rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;

  table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border-color: rgb(95, 122, 95);

    tr {
      border: solid 0.5px #fffffe;
    }

    td {
      border: solid 0.5px #e0e0e0;
      padding: 10px;
      // 
      height: 10px;
    }

    th {
      width: 5rem !important;
      max-width: 5rem !important;
      text-align: center;
    }
  }

  &__head {
    background-color: rgb(78, 104, 66);
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white
  }

  &__cell--event {
    background-color: rgb(98, 151, 102);
    color: white;
    border-radius: 10px 10px 0px 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: left;
  }

  &__cell--time {
    text-align: center;
    border-bottom: solid 1px #000000 !important;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  &__cell--multiple-events {
    background-color: rgb(100, 145, 96);
    color: white;
    border-radius: 10px 10px 0px 0px;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
  }
}