.button {
    background-color: rgb(255, 230, 0);
font-family: cursive;
    padding: 5px 10px;
    border-radius: 5px;
}
.button1 {
    background-color: rgb(89, 100, 167);
    padding: 5px 10px;
    border-radius: 5px;
}